
\.vs/zInjector/v15/Browse\.VC\.db

*.ipch

zInjector/zInjector\.vcxproj\.user

zInjector/Release/main\.obj

zInjector/Release/nt_create_thread\.obj

zInjector/Release/portable_executable\.obj

zInjector/Release/process\.obj

zInjector/Release/utilities\.obj

zInjector/Release/vc141\.pdb

zInjector/Release/zInjector\.log

zInjector/Release/zInjector\.tlog/CL\.command\.1\.tlog

zInjector/Release/zInjector\.tlog/CL\.read\.1\.tlog

zInjector/Release/zInjector\.tlog/CL\.write\.1\.tlog

zInjector/Release/zInjector\.tlog/link\.command\.1\.tlog

zInjector/Release/zInjector\.tlog/link\.read\.1\.tlog

zInjector/Release/zInjector\.tlog/link\.write\.1\.tlog

zInjector/Release/zInjector\.tlog/zInjector\.lastbuildstate

zInjector/Release/zInjector\.tlog/zInjector\.write\.1u\.tlog

\.vs/zInjector/v15/\.suo

Release/zInjector\.exe

Release/zInjector\.iobj

Release/zInjector\.ipdb

Release/zInjector\.pdb

*.opendb
